@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 279 100% 7.1%;
    --foreground: 275 40% 90%;
    --card: 279 50% 12%;
    --card-foreground: 275 40% 90%;
    --popover: 279 50% 10%;
    --popover-foreground: 275 40% 90%;
    --primary: 275 100% 35%;
    --primary-foreground: 275 20% 95%;
    --secondary: 275 30% 20%;
    --secondary-foreground: 275 20% 95%;
    --muted: 275 30% 15%;
    --muted-foreground: 275 20% 65%;
    --accent: 271 76.1% 52.9%;
    --accent-foreground: 271 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 30% 20%;
    --input: 275 30% 15%;
    --ring: 271 76.1% 52.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }
}
